# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# build locations and objects
html/img
html/js/wallander_display.js
html/js/widgets.js

data/*
log/*
html/old
html.old
# vim backups
.*.swp
# wallander shell history
profile_wallander/history.sqlite
