# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# build locations and objects
html/js/wallander_display.js
html/js/widgets.js
html/css/display.css
html/css/tools.css 
html/css/widgets.css

html/old
html.old
# vim backups
.*.swp
# wallander shell history
profile_wallander/history.sqlite
