/* Base Styles */
@import url("OpenSansCondensed.css");

* { 
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
padding: 20px;
padding-left: 100px;
padding-right: 100px;
font-family: sans-serif;
}

.label {
color: #777777;
}

.value {
margin-right: .5em;
}

