.wallander_container {
overflow: hidden;
width: 100px;
height: 100px;
resize: both;
border: 1px solid black;
padding: 10px;
margin: 0 auto;
}


.wallander_canvas { 
	border: 1px solid #cccccc; 
} 

.wallander_canvas:focus {
	outline: none;
}

#status {
	margin-bottom: 3px;
}

#data_field_display>div {
	margin-bottom: 3px;
}

/* Data Field Details */
.data_field_details table {
	width: 100%;
	border-collapse: collapse;
}

.data_field_details td{
	vertical-align: top;
	width: 40%
}

.data_field_details td[colspan="2"]{
	width: 80%
}

.data_field_details td:first-child { 
    width: 20%
}

/* Depcition display */
.data_field_value {
	display: inline-block;
}


#status input {
	margin-left: 2px;
	margin-right: 2px;
}
#status select {
	margin-left: 2px;
	margin-right: 2px;
}

.color_picker .swatch {
	border: 1px solid #a9a9a9
}

