.colormap_dropdown {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	transition-property: max-height;
	transition-duration: .3s;
}

.colormap_selector {
	width: 100%
}

.colormap_selector img {
	display: block;
	width: 100%;
	height: 20px;
}

.colormap_swatch {
	display: inline-block;
	border: 1px solid #a9a9a9;
	width: 100%;
	background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAoSURBVBiVY/z//z8DOtiyZQuGIBOGKhxgABWyYHO4j48PI+2tpr5CAKIuCi6gLUyOAAAAAElFTkSuQmCC");
}


.colormap_option {
	display: block;
	height: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin: 1px;
	border: 1px solid rgb(255,255,255);
	background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAoSURBVBiVY/z//z8DOtiyZQuGIBOGKhxgABWyYHO4j48PI+2tpr5CAKIuCi6gLUyOAAAAAElFTkSuQmCC");
}

.colormap_dropdown .colormap_option:hover {
	border: 1px solid rgb(0,0,0);
}

.data_field_details input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

.data_field_details input[type="range"] {
	width: 100%;
}

.data_field_details select {
	width: 100%;
}

.dropdown {
	white-space: nowrap;
}

.dropdown.closed::before {
	content: "\25B8\00A0"; /* Triangle pointing right */
}

.dropdown.open::before {
	content: "\25BE\00A0"; /* Triangle pointing down */
}
